<div class="side-overlay"
 [class.open]="isSideNavOpen"
></div>

<div class="side-nav"
 [class.open]="isSideNavOpen"
>
  <div class="side-nav-top">
    <div class="side-nav-title">
    <h1>Book store </h1>
    <p>Thế giới sách</p>
    </div>
    <div class="side-nav-button">
      <button 
      (click)="closeSideNav()">
        <i class="fa-solid fa-x"></i>
      </button>
    </div>
  </div>
<div class="side-nav-item">
 <button
  class="side-nav-item-button"
  [class.active]="activeItem === 'home'"
  (click)="setActive('home')"
>
  <span class="active-line"></span>
  Trang chủ
</button>

<button
  class="side-nav-item-button"
  [class.active]="activeItem === 'new-books'"
  (click)="setActive('new-books')"
>
  <span class="active-line"></span>
  Sách mới
</button>

<button
  class="side-nav-item-button"
  [class.active]="activeItem === 'category'"
  (click)="setActive('category')"
>
  <span class="active-line"></span>
  Thể loại
</button>

<button
  class="side-nav-item-button"
  [class.active]="activeItem === 'bestseller'"
  (click)="setActive('bestseller')"
>
  <span class="active-line"></span>
  Bán chạy
</button>

<button
  class="side-nav-item-button"
  [class.active]="activeItem === 'promotion'"
  (click)="setActive('promotion')"
>
  <span class="active-line"></span>
  Khuyến mãi
</button>

  
</div>
 <div class="side-nav-bottom">

  <button class="side-nav-bottom-login"
  (click)="goToLogin()"
  >
  Đăng nhập
       </button>
       <button class="side-nav-bottom-register"
       (click)="goToRegister()"
       >
  Đăng ký
       </button>
 </div>
</div>


<div class="container-fluid d-flex flex-column p-0">
  <div class="support-information d-flex flex-row justify-content-center align-items-center">
    Miễn phí giao hàng cho đơn từ 250.000₫ · Đổi trả trong 7 ngày · Hỗ trợ: 1800-9090
  </div>
 <div class="support-information-responsive">
   Freeship đơn từ 250k · Hỗ trợ: 1800-9090
  </div>
  <div class="search"
   [class.open]="isSearchOpen"
  >
 <input
          class="input-field"
          placeholder="Tìm kiếm sách,tác giả,thể loại... "
        >

        <i  class="fa-solid fa-x" (click)="closeSearch()"></i>

    
  </div>
  <div class="header justify-content-between">

   
 <!-- bander -->
  <div class="header-top">
     <div
  class="header-menu"
  (click)="openSideNav()"
>
  <i class="fa-solid fa-bars"></i>
</div>
<div class="header-banner">
      
     <h1>BOOK STORE</h1>
     <P>Thế giới sách</P>
  </div>
  </div>
     
<!-- sẻach -->
 <div class="header-search">
        <input
          class="input-field"
          placeholder="Tìm kiếm sách,tác giả,thể loại... "
        >

        <i class="fa-solid fa-magnifying-glass"></i>
      </div>

      <!-- action -->
       <div class="header-action d-flex flex-row">

        <button class="button-search"
        (click)="openSearch()">
  <i class="fa-solid fa-magnifying-glass"></i>
 
</button>
        <!-- Yêu thích -->
<button class="header-favorite">
  <i class="fa-regular fa-heart"></i>
  <span>Yêu thích</span>
</button>

<!-- Giỏ hàng -->
<button class="header-cart">
  <i class="fa-solid fa-cart-shopping"></i>
  <span>Giỏ hàng</span>
</button>

<!-- Đăng nhập -->
<button class="header-login"
(click)="goToLogin()"
>
  Đăng nhập
       </button>
  </div>
</div>

<div class="header-bottom">
  <div class="menu">
    
<button
  class="menu-home"
  (click)="activeMenu = 'home'"
>
  Trang chủ
  <span
    class="menu-indicator"
    [class.show]="activeMenu === 'home'"
  ></span>
</button>

<button
  class="menu-new-books"
  (click)="activeMenu = 'new-books'"
>
  Sách mới
  <span
    class="menu-indicator"
    [class.show]="activeMenu === 'new-books'"
  ></span>
</button>

<button
  class="menu-category"
  (click)="activeMenu = 'category'"
>
  Thể loại
  <span
    class="menu-indicator"
    [class.show]="activeMenu === 'category'"
  ></span>
</button>

<button
  class="menu-best-seller"
  (click)="activeMenu = 'best-seller'"
>
  Bán chạy
  <span
    class="menu-indicator"
    [class.show]="activeMenu === 'best-seller'"
  ></span>
</button>

<button
  class="menu-promotion"
  (click)="activeMenu = 'promotion'"
>
  Khuyến mãi
  <span
    class="menu-indicator"
    [class.show]="activeMenu === 'promotion'"
  ></span>
</button>



</div>
</div>
</div>