<div class="container-fluid  d-flex">
<div class="footer d-flex flex-column">
    
<div class="content">

    <div class="content-bookstore">
  <h1>Book store</h1>
  <p>Mang tri thức đến mọi ngôi nhà. Hơn 50.000 đầu sách chất lượng, giao hàng toàn quốc</p>
</div>

<div class="content-about">
     <h1>Về chúng tôi</h1>
  <p>Giới thiệu</p>
   <p>Tuyển dụng</p>
    <p>Đối tác</p>
    <p>Tin tức</p>
</div>

<div class="content-support">
     <h1>Hỗ trợ</h1>
    <p>Hướng dẫn mua hàng</p>
   <p>Đổi trả</p>
    <p>Vận chuyển</p>
    <p>Thanh toán</p>
  
</div>

<div class="content-contact">
     <h1>Liên hệ</h1>
  <p>01234-56789</p>
   <p>example@gmail.com</p>
    <p>Phú Thọ,Việt Nam</p>
    <p>7:30 - 22:30</p>
</div>

</div>

  <hr class="divider">
  <div class="footer-bottom d-flex flex-row justify-content-between">

  <p>© 2026 Bookstore. Bảo lưu mọi quyền</p>

  <div class="social-links">
    <i class="fa-brands fa-tiktok"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-x-twitter"></i>
  </div>

</div>

</div>
</div>